extends ../../common/layout

block variables
	-var title = "Исследование состава, структуры и физико-механических свойств различных материалов"

block content
	include ../../includes/products/product-05.pug


block scripts
	script(src="/assets/js/slider.min.js")
	//- script(src="/assets/js/slider-4.min.js")

