extends ../../common/layout

block variables
	-var title = "Проведение НИОКР по разработке импортозамещающих технологий, оборудования и материалов для станкоинструментальной отрасли"

block content
	include ../../includes/products/product-04.pug


block scripts
	script(src="/assets/js/slider.min.js")
	//- script(src="/assets/js/slider-4.min.js")

