extends ../../common/layout

block variables
	-var title = "Производственный и технологический консалтинг"

block content
	include ../../includes/products/product-03.pug


block scripts
	script(src="/assets/js/slider.min.js")
	//- script(src="/assets/js/slider-4.min.js")

