extends ../../common/layout

block variables
	-var title = "Высокоточная обработка материалов и изготовление готовых изделий любой сложности"

block content
	include ../../includes/products/product-01.pug


block scripts
	script(src="/assets/js/slider.min.js")
	//- script(src="/assets/js/slider-4.min.js")

