// Mobile
$mediaWidthMobileMini: 320px;
$mediaWidthMobile: 520px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthdesktop: 1200px;
$mediaWidthdesktopHd: 1800px;

// Colors
$text: #202124;
$text-grey: #92929D;
$footer-bg: #3D3D3F; //footer grey
$hl: #FF3230; //highlighter (red)
$w: #FFFFFF;
$border: #F2F2F5;
$border-active: #4F4F4F;
$border-error: #EB5757;
$separator: #C9C9CE;
$pagin-border: #E2E2EA;