extends ../../common/layout

block variables
	-var title = "Новость"

block content
	include ../../includes/news/current-news.pug


block scripts
	script(src="/assets/js/slider.min.js")
	script(src="/assets/js/slider-4.min.js")
