extends ../common/layout

block variables
	-var title = "Продукт"

block content
	include ../includes/instruments/main.pug
	include ../common/feedback.pug

block scripts
	//- script(src="/assets/js/slider.min.js")