extends ../common/layout

block variables
	-var title = "Новости"

block content
	include ../includes/news/main.pug

block scripts
	script(src="/assets/js/slider.min.js")
	script(src="/assets/js/slider-4.min.js")