header.header
	.header__container.container
		.header__bg
		.header__logo.logo.logo--header
			include logo.pug
		.header__navigation.navigation.navigation--header
			include navigation.pug
		.header__phone.phone.phone--header
			include phone.pug

