include ../common/mixins.pug

block variables

doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			title ФЦКП | #{title}
			meta(content="width=device-width, initial-scale=1" name="viewport")
			meta(content="ie=edge" http-equiv="x-ua-compatible")
			link(rel="stylesheet" href="/assets/css/style.css")
	body
		.wrapper
			.maincontent
				include header.pug
				block content
				include footer.pug
				
		script(src="/assets/js/main.min.js")
		block scripts