.logo__wrap
	a.logo__fckp(href="/")
		.logo__fckp-image
			+svg("logo-fckp", "logo__fckp-img", "Логотип ФЦКП")
		.logo__fckp-desc Федеральный центр<br> компетенций промышленности
	a.logo__stankin(href="/")
		.logo__stankin-image
			+svg("logo-stankin", "logo__stankin-img", "Логотип Станкин")
