-
	var navArr = [
		{
			name: "Направления",
			list: [
				{
					name: "Все направления ФЦКП",
					link: "/#products",
					ancor: "#products"
				}
			]
		},
		{
			name: "О ФЦКП",
			list: [
				{
					name: "Что такое ФЦКП",
					link: "/#about",
					ancor: "#about"
				},
				{
					name: "Оборудование",
					link: "/instruments.html"
				},
				{
					name: "Кейсы",
					link: "/#cases",
					ancor: "#cases"
				},
				{
					name: "Связаться с нами",
					link: "/#feedback",
					ancor: "#feedback"
				}
			]
		},
		{
			name: "Пресс-центр",
			list: [
				{
					name: "Новости",
					link: "/news.html"
				},
				{
					name: "Контакты",
					link: "/#feedback",
					ancor: "#feedback"
				}
			]
		}
	]

.navigation__wrap
	ul.navigation__list
		each item in navArr
			li.navigation__item
				button.navigation__item-btn.js__navBtn(type="button")=item.name
				.navigation__item-sublist.js__navList
					.navigation__item-subitem-bg
					each elem in item.list
						.navigation__item-subitem
							a.navigation__item-subitem-link(href=elem.link)=elem.name