extends ../../common/layout

block variables
	-var title = "Технопарк «Инженеры будущего» Можно в  две строки"

block content
	include ../../includes/projects/project-01.pug


block scripts
	script(src="/assets/js/slider.min.js")
	//- script(src="/assets/js/slider-4.min.js")

