section.about
	.about__container.container
		.about__slider
			img.about__slider-img(src="/assets/img/content/hero_03.jpg")
		.about__content
			h2.about__title.title Что такое ФЦКП
			.about__text.text Федеральный центр компетенций промышленности (ФЦКП) создан в ___ году с целью решения проблем, с которыми связано технологическое перевооружение российского машиностроения.
			h3.about__subtitle Главная цель ФЦКП
			.about__text.text Долгосрочное обеспечение технологической независимости и конкурентоспособности российского машиностроения, и прежде всего, его стратегических высокотехнологических предприятий за счет преимущественного применения в российском машиностроении конкурентоспособных средств производства
			h3.about__subtitle.subtitle В состав ФЦКП входит:
			.about__props.about__props--props
				include ../../common/props.pug
			h3.about__subtitle.subtitle Функции
			.about__text.text ФЦКП выполняет функции информационной поддержки и организации взаимодействия региональных кластеров с российскими и иностранными партнерами, органами государственной власти, другими региональными кластерами машиностроительных технологий, региональными образовательными кластерами на федеральном уровне.
			h3.about__subtitle Вашему вниманию наш Центр предлагает:
			ul.about__list.point-list
				li.about__item Высокоточную механообработку материалов и деталей любой сложности.
				li.about__item Проектирование и изготовление опытных образцов изделий.
				li.about__item Разработку технологических процессов с подготовкой необходимого пакета документов.
				li.about__item Производственный и технологический консалтинг.
				li.about__item Сертификацию материалов станкоинструментальной промышленности.
			.about__text.text На данном интернет-ресурсе Вы можете ознакомиться с направлениями нашей деятельности, а также воспользоваться формой обратной связи для получения оперативной консультации по интересующему вопросу.
			.about__text.text Чтобы связаться с нами, нажмите кнопку “Связаться” в нижней части экрана.
			.about__text.text.italic С уважением, генеральный директор ФКЦП
			.about__btn.about__btn--cta
				+cta("Связаться", "/")

