section#about.about
	.about__container.container
		.about__slider(
			data-da="about__content,2,560"
		)
			img.about__slider-img(src="/assets/img/content/hero_03.jpg")
		.about__content
			h2.about__title.title Что такое ФЦКП?
			.about__text.text Федеральный центр компетенций промышленности (ФЦКП) – это многофункциональный исследовательский центр, специализирующийся на осуществлении разработки и исследовании машиностроительных технологий и процессов.
			h3.about__subtitle Задачи, которые решает ФЦКП:
			ul.about__list.point-list
				li.about__item уменьшение затрат производства за счет оптимизации технологических и производственных процессов;
				li.about__item внедрение инновационных систем управления;
				li.about__item определение факторов масштабирования производства;
				li.about__item разработка планов модернизации оборудования;
				li.about__item улучшение качества проектных производственно-технологических решений;
				li.about__item повышение результативности и надежности технологических процессов предприятия;
				li.about__item разработка и тестирование опытных образцов и партий готовых изделий различного назначения.
			h3.about__subtitle.subtitle Для решения задач, Центр обеспечен:
			.about__props.about__props--props
				include ../../common/props.pug
			.about__text.text На данном ресурсе Вы можете более подробно ознакомиться с направлениями нашей деятельности, а также получить консультацию по интересующим вопросам. Для связи с нами заполните форму связи, или просто позвоните нам.
			.about__btn.about__btn--cta
				+cta("Связаться", "#feedback")

