-
	var advArr = [
		{
			icon: "student",
			title: "6 кандидатов профильных наук.",
			desc: "20 высококвалифицированных специалистов"
		},
		{
			icon: "books",
			title: "Огромная База Знаний МГТУ \"Станкин\"",
			desc: "Так как за спиной стоит Университет Станкин"
		},
		{
			icon: "bulldozer",
			title: "Производство опытных образцов",
			desc: "Собственное оборудование для производства опытных образцов и пробных партий с применением прогрессивных технологий"
		},
		{
			icon: "colors",
			title: "Обработка современных материалов нано-размеров, в том числе композитов и керамики",
			desc: ""
		},
		{
			icon: "bulldozer",
			title: "Применение межгосударственных, национальных и отраслевым стандартам ГОСТ, ISO, ASTM.",
			desc: ""
		}
	]

section.advantages
	.advantages__container.container
		h2.advantages__title.title Приемущества
		ul.advantages__list
			each adv in advArr
				li.advantages__item
					.advantages__item-pic
						+icon(adv.icon, "advantages__item-icon")
					h3.advantages__item-title=adv.title
					.advantages__item-desc=adv.desc
					