section.hero
	.hero__slider
		ul.hero__list
			li.hero__item(style="background-image: url(\"/assets/img/content/hero_01.webp\"").active
				.hero__item-wrap
					.hero__item-container.container
						.hero__item-content
							h1.hero__title.main-title 1Машиностроение, управление сложными техническими системами, обработка материалов
							.hero__desc.main-desc 1Центр компетенций НТИ
							.hero__btn.hero__btn--cta
								+cta("Подробнее", "/")
			li.hero__item(style="background-image: url(\"/assets/img/content/hero_01.webp\"")
				.hero__item-wrap
					.hero__item-container.container
						.hero__item-content
							h1.hero__title.main-title 2Машиностроение, управление сложными техническими системами, обработка материалов
							.hero__desc.main-desc 2Центр компетенций НТИ
							.hero__btn.hero__btn--cta
								+cta("Подробнее", "/")
			li.hero__item(style="background-image: url(\"/assets/img/content/hero_01.webp\"")
				.hero__item-wrap
					.hero__item-container.container
						.hero__item-content
							h1.hero__title.main-title 3Машиностроение, управление сложными техническими системами, обработка материалов
							.hero__desc.main-desc 3Центр компетенций НТИ
							.hero__btn.hero__btn--cta
								+cta("Подробнее", "/")
		.hero__slider-pagination
			.hero__slider-pagination-container.container
				ul.hero__slider-pagination-list
		.hero__slider-controls
			.hero__slider-controls-container.container
				ul.hero__slider-controls-list
					li.hero__slider-controls-item.hero__slider-controls-item--prev
						+icon("arrow-slider-right", "hero__slider-controls-img")
					li.hero__slider-controls-item.hero__slider-controls-item--next
						+icon("arrow-slider-right", "hero__slider-controls-img")