-
	var prodArr = [
		{
			img: "content/product_01",
			title: "Высокоточная обработка материалов и изготовление готовых изделий любой сложности",
			desc: "Механообработка материалов и деталей, обработка листового материала и труб, сварочные работы,  изготовление изделий из пластмасс.",
			link: "/",
			mobileClass: ""
		},
		{
			img: "content/product_02",
			title: "Проектирование и изготовление опытных образцов изделий и прототипов",
			desc: "Разработке опытных образцов и партий готовых изделий различного назначения. <br />Полный цикл работ, начиная от проектирования и подготовки документации по ЕСКД до изготовления готового пробного продукта.",
			link: "/",
			mobileClass: ""
		},
		{
			img: "content/product_03",
			title: "Производственный и технологический консалтинг",
			desc: "Разработка методов оптимизации и модернизации технологических и производственных процессов предприятия, внесение качественных изменений в последовательность и содержание работ.",
			link: "/",
			mobileClass: ""
		},
		{
			img: "content/product_04",
			title: "Проведение НИОКР по разработке импортозамещающих технологий, оборудования и материалов для станкоинструментальной отрасли",
			desc: "Проектирование оборудования, оснастки и инструмента, разработка технологий обработки материалов и создание готовых изделий, разработка новых материалов",
			link: "/",
			mobileClass: "product__mobile"
		},
		{
			img: "content/product_05",
			title: "Исследование состава, структуры и физико-механических свойств различных материалов",
			desc: "Определение свойств различных материалов ФЦКП имеет в своем распоряжении уникальный набор современного лабораторного и аналитического оборудования, позволяющего проводить испытания различного уровня сложности.",
			link: "/",
			mobileClass: "product__mobile"
		},
		{
			img: "content/product_01",
			title: "Метрологический контроль",
			desc: "Решение измерительных задач, в том числе, для изделий аддитивных технологий.",
			link: "/",
			mobileClass: "product__mobile"
		}
	]

section.product
	.product__container.container
		h2.product__title.title Ключевые виды деятельности ФЦКП
		ul.product__list
			each prod in prodArr
				li.product__item(class=prod.mobileClass)
					.product__item-image
						+image(prod.img, "jpg", "product__item-img", "")
					.product__item-content
						.product__item-content-text
							h3.product__item-title.subtitle!=prod.title
							.product__item-desc=prod.desc
						.product__item-cta.product__item-cta--ctaLight
						+ctaLight("Подробнее", prod.link)
		.product__mobile-cta
			+cta("Показать ещё", "/", "product")