section.current-product
	.current-product__container
		.current-product__breadcrumbs.container
				.breadcrumbs__container
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a(href="/").breadcrumbs__link Главная
						li.breadcrumbs__item
							a(href="/product.html").breadcrumbs__link Виды деятельности
						li.breadcrumbs__item
							a(href="/products/product-03.html").breadcrumbs__link Производственный и технологический консалтинг
		.current-product__wrapper
			.current-product__title-content.container
				h1.current-product__title.main-title Производственный и технологический консалтинг
			.container
				.current-product__slider.js__product-slider.container
					.current-product__slider-wrapper.js__product-slider-list
						.current-product__slider-track.js__product-slider-track
							.current-product__slider-slide.js__product-slide(style="background-image: url('/assets/img/content/hero_01.webp'")
								//- img.current-product__slider-slide-image(src="/assets/img/content/hero_01.webp")
							.current-product__slider-slide.js__product-slide(style="background-image: url('/assets/img/content/hero_01.webp'")
					.current-product__slider-pagination-list.js__product-slider-pagination
					.current-product__slider-arrows.js__product-slider-arrows
						button.prev.disabled.current-product__slider-controls-item.current-product__slider-controls-item--prev
							+icon("arrow-slider-right", "current-product__slider-controls-img")
						.current-product__slider-index.js__slider-index
						button.next.current-product__slider-controls-item.current-product__slider-controls-item--next
							+icon("arrow-slider-right", "current-product__slider-controls-img")
			.current-product__content.container
				p Федеральный центр компетенции промышленности проводит полный спектр процедур, направленных на повышение эффективности  существующего или вновь проектируемого производства, за счет средств автоматизации, механизации, проектирования приспособлений, разработки (реинжиниринга) технологии производства.
				p Специалисты компании обладают исключительной компетенцией в решении сложных технических и технологических задач производственных, торговых и промышленных предприятий России.
				h2 ФЦКП проводит:
				h3 Консалтинг по модернизации производства
				ul
					li исследование текущей технологической линии производства;
					li разработка технических решений по максимальному использованию оборудования в рамках существующей технологии;
					li разработка концепции развития технической системы на 10-20 лет;
					li проектирование, подбор и расстановка технического оборудования на производстве с получением максимального экономического эффекта;
					li патентование изобретения, получение авторских и смежных прав на изобретение или полезную модель;
					li сопровождение проекта модернизации производства.
				h3 Консалтинг по разработке аналогов продукции (услуг)
				ul
					li исследование рынка аналогов;
					li разработка прогноза развития продукции (услуги) на ближайшую и долгосрочную перспективу;
					li анализ формулы изобретения и опытного образца;
					li разработка отличных конструктивных и технических параметров продукции (услуги);
					li подготовка рекомендаций по организации (модернизации) производства;
					li контроль получения опытного образца;
					li обеспечение получения лучших характеристик продукции в сравнении с товаром-аналогом;
					li патентование изобретения, получение авторских и смежных прав на изобретение или полезную модель.
				h3 Консалтинг по разработке новой (не имеющей аналогов) продукции (услуг) 
				ul
					li исследование предметной области возможного возникновения требуемых разработок;
					li "мозговой штурм" и нахождение "веера продуктов (услуг)";
					li предварительная маркетинговая оценка потребительского спроса на "веер продуктов (услуг);
					li определение жизненного цикла изделия (услуги);
					li разработка конструкции и технологии производства опытного образца;
					li получение опытного образца;
					li опытная эксплуатация, доработка и выход на требуемые параметры продукта (услуги);
					li патентование изобретения, получение авторских и смежных прав на изобретение или полезную модель;
					li получение серийного образца.
				h2 Результатом нашей работы станет для Вас: 
				ul
					li Снижение стоимости  эксплуатации производственных систем.
					li Снижение рисков риски при определении спецификации технологического оборудования
					li Минимизация вероятности  ошибки при разработке технологических решений.
					li Существенное повышение качества проектных производственно-технологических решений.
					li Повышение результативности и надежности технологических процессов предприятия.
			.current-product__feedback.container
				h2.current-product__feedback-title Как воспользоваться услугой?
				ul.current-product__feedback-steps
					li.current-product__feedback-step
						.current-product__feedback-step-number 1
						.current-product__feedback-step-text Обратитесь в ФЦКП, связавшись с нами по электронной почте или через онлайн-форму на сайте.
					li.current-product__feedback-step
						.current-product__feedback-step-number 2
						.current-product__feedback-step-text Наши специалисты рассмотрят заявку и свяжутся для обсуждения сотрудничества.
					li.current-product__feedback-step
						.current-product__feedback-step-number 3
						.current-product__feedback-step-text Мы составим более подробное техническое задание или доработаем имеющееся с учетом выясненных требований заказчика.
					li.current-product__feedback-step
						.current-product__feedback-step-number 4
						.current-product__feedback-step-text На основе технического задания будет подготовлено коммерческое предложение и смета с указанием стоимости и сроков проведения всех работ.
					li.current-product__feedback-step
						.current-product__feedback-step-number 5
						.current-product__feedback-step-text После согласования цены и сроков мы подписываем договор и приступаем к выполнению работы.
					li.current-product__feedback-step
						.current-product__feedback-step-number 6
						.current-product__feedback-step-text После окончания работ результат передается вам с полным пакетом сопроводительной документации.
				.current-product__feedback-contacts
					include ../../common/contacts.pug


			//- .current-product__additional.current-product__additional--additional-current-products
			//- 	include ../../includes/product/additional-products.pug