section.current-product
	.current-product__container
		.current-product__breadcrumbs.container
			.breadcrumbs__container
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a(href="/").breadcrumbs__link Главная
					li.breadcrumbs__item
						a(href="/product.html").breadcrumbs__link Виды деятельности
					li.breadcrumbs__item
						a(href="/products/product-06.html").breadcrumbs__link Метрологический контроль
		.current-product__wrapper
			.current-product__title-content.container
				h1.current-product__title.main-title Метрологический контроль
			.container
				.current-product__slider.js__product-slider.container
					.current-product__slider-wrapper.js__product-slider-list
						.current-product__slider-track.js__product-slider-track
							.current-product__slider-slide.js__product-slide(style="background-image: url('/assets/img/content/hero_01.webp'")
								//- img.current-product__slider-slide-image(src="/assets/img/content/hero_01.webp")
							.current-product__slider-slide.js__product-slide(style="background-image: url('/assets/img/content/hero_01.webp'")
					.current-product__slider-pagination-list.js__product-slider-pagination
					.current-product__slider-arrows.js__product-slider-arrows
						button.prev.disabled.current-product__slider-controls-item.current-product__slider-controls-item--prev
							+icon("arrow-slider-right", "current-product__slider-controls-img")
						.current-product__slider-index.js__slider-index
						button.next.current-product__slider-controls-item.current-product__slider-controls-item--next
							+icon("arrow-slider-right", "current-product__slider-controls-img")
			.current-product__content.container
				p Федеральный центр компетенции промышленности на территории собственного лабораторно-исследовательского комплекса  осуществляет метрологический контроль изделий и факторов производства, влияющих на их эксплуатационные характеристики.
				p Метрологическая лаборатория ФЦКП оснащена новым высокоавтоматизированным измерительным оборудованием и измерительным инструментом производства фирм – мировых лидеров: 
				ul
					li «TaylorGobson» (Англия), 
					li «KarlZeiss» (Германия), 
					li «MahrProductGroup”  (Германия),
					li «MitutoyoCorporation»  (Япония),
				p Уникальные компетенции всего персонала, наработанные за длительный период времени совместной работы над решением неформализованных измерительных задач, в том числе, для изделий аддитивных технологий.
				h3 ФЦКП проводит:
				ul
					li Координатные измерения деталей сложных форм.
					li Многомерные линейные измерения для контроля деталей сложной формы (например, для контроля коленвалов).
					li Контроль отклонений от круглости/цилиндричности.
					li Измерение шероховатости.
					li Климатические испытания.
					li Диагностика точностных характеристик КИМ, станков, промышленных роботов.
			.current-product__feedback.container
				h2.current-product__feedback-title Как воспользоваться услугой?
				ul.current-product__feedback-steps
					li.current-product__feedback-step
						.current-product__feedback-step-number 1
						.current-product__feedback-step-text Обратитесь в ФЦКП, связавшись с нами по электронной почте или через онлайн-форму на сайте.
					li.current-product__feedback-step
						.current-product__feedback-step-number 2
						.current-product__feedback-step-text Наши специалисты рассмотрят заявку и свяжутся для обсуждения сотрудничества.
					li.current-product__feedback-step
						.current-product__feedback-step-number 3
						.current-product__feedback-step-text Мы составим более подробное техническое задание или доработаем имеющееся с учетом выясненных требований заказчика.
					li.current-product__feedback-step
						.current-product__feedback-step-number 4
						.current-product__feedback-step-text На основе технического задания будет подготовлено коммерческое предложение и смета с указанием стоимости и сроков проведения всех работ.
					li.current-product__feedback-step
						.current-product__feedback-step-number 5
						.current-product__feedback-step-text После согласования цены и сроков мы подписываем договор и приступаем к выполнению работы.
					li.current-product__feedback-step
						.current-product__feedback-step-number 6
						.current-product__feedback-step-text После окончания работ результат передается вам с полным пакетом сопроводительной документации.
				.current-product__feedback-contacts
					include ../../common/contacts.pug


			//- .current-product__additional.current-product__additional--additional-current-products
			//- 	include ../../includes/product/additional-products.pug