section.current-product
	.current-product__container
		.current-product__breadcrumbs.container
				.breadcrumbs__container
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a(href="/").breadcrumbs__link Главная
						li.breadcrumbs__item
							a(href="/product.html").breadcrumbs__link Виды деятельности
						li.breadcrumbs__item
							a(href="/products/product-05.html").breadcrumbs__link Исследование состава
		.current-product__wrapper
			.current-product__title-content.container
				h1.current-product__title.main-title Исследование состава, структуры и физико-механических свойств различных материалов
			.container
				.current-product__slider.js__product-slider.container
					.current-product__slider-wrapper.js__product-slider-list
						.current-product__slider-track.js__product-slider-track
							.current-product__slider-slide.js__product-slide(style="background-image: url('/assets/img/content/hero_01.webp'")
								//- img.current-product__slider-slide-image(src="/assets/img/content/hero_01.webp")
							.current-product__slider-slide.js__product-slide(style="background-image: url('/assets/img/content/hero_01.webp'")
					.current-product__slider-pagination-list.js__product-slider-pagination
					.current-product__slider-arrows.js__product-slider-arrows
						button.prev.disabled.current-product__slider-controls-item.current-product__slider-controls-item--prev
							+icon("arrow-slider-right", "current-product__slider-controls-img")
						.current-product__slider-index.js__slider-index
						button.next.current-product__slider-controls-item.current-product__slider-controls-item--next
							+icon("arrow-slider-right", "current-product__slider-controls-img")
			.current-product__content.container
				p Федеральный центр компетенции промышленности на территории собственного лабораторно-исследовательского комплекса  осуществляет исследование состава, структуры и физико -механических свойств различных материалов
				p Для определения свойств различных материалов ФЦКП имеет в своем распоряжении уникальный набор современного лабораторного и аналитического оборудования, позволяющего проводить испытания различного уровня сложности.
				p Испытания проводятся по методикам, соответствующим межгосударственным, национальным и отраслевым стандартам ГОСТ, ISO, ASTM.
				p Наши специалисты по согласованию с заказчиком проводят последующий анализ результатов с представителями заказчика и сопровождение на этапах отработки опытно-экспериментальных технических процессов, входного и выходного контроля или дальнейшего выполнения научно-исследовательских работ с мониторингом результатов в динамике.
				h3 ФЦКП проводит:
				ul
					li Механические статические и динамические испытания на растяжение сжатие и изгиб в диапазоне температур до 2800 °С.
					li Испытания на усталостную прочность при различных схемах нагружения.
					li Испытания на ударный изгиб и склонность к механическому старению при нормальной и пониженной температурах.
					li Измерения твердости по методам Бринелля, Виккерса, Роквелла, Оливера-Фарра.
					li Определение термического коэффициента линейного расширения материалов в диапазоне температур от 20 до 3000 °С.
					li Определение теплопроводности при комнатной температуре в диапазоне от 0,2 до 130 Вт/м*град.
					li Металлографические исследования и анализ структур материалов с количественной оценкой размеров и формы зерна, неметаллических включений, пористости, фазового состава двухфазных материалов.
					li Фрактографического изучения изломов.
					li Микроструктурные исследования на сканирующем электронном микроскопе, с возможностью изучения химического состава материалов.
					li Рентгеноструктурный анализ с возможностью качественного и количественного изучения фазового состава материалов при температурах до 1600 °С, анализ текстур и остаточных напряжений поверхности, определения ориентировки осей монокристалла, исследования тонких пленок и покрытий.
					li Рентгеновская фотоэлектронная спектроскопия с возможностью изучения химического и элементного состава поверхности образца, картирование и профилирование химических элементов на глубину от десятых долей нанометра до нескольких микрон.
					li Изучение поверхностных свойств (адсорбция, удельная поверхность, сорбционная емкость, энергия активации, реакционная способность, функциональные группы).
					li Определение плотности и пористости материалов.
			.current-product__feedback.container
				h2.current-product__feedback-title Как воспользоваться услугой?
				ul.current-product__feedback-steps
					li.current-product__feedback-step
						.current-product__feedback-step-number 1
						.current-product__feedback-step-text Обратитесь в ФЦКП, связавшись с нами по электронной почте или через онлайн-форму на сайте.
					li.current-product__feedback-step
						.current-product__feedback-step-number 2
						.current-product__feedback-step-text Наши специалисты рассмотрят заявку и свяжутся для обсуждения сотрудничества.
					li.current-product__feedback-step
						.current-product__feedback-step-number 3
						.current-product__feedback-step-text Мы составим более подробное техническое задание или доработаем имеющееся с учетом выясненных требований заказчика.
					li.current-product__feedback-step
						.current-product__feedback-step-number 4
						.current-product__feedback-step-text На основе технического задания будет подготовлено коммерческое предложение и смета с указанием стоимости и сроков проведения всех работ.
					li.current-product__feedback-step
						.current-product__feedback-step-number 5
						.current-product__feedback-step-text После согласования цены и сроков мы подписываем договор и приступаем к выполнению работы.
					li.current-product__feedback-step
						.current-product__feedback-step-number 6
						.current-product__feedback-step-text После окончания работ результат передается вам с полным пакетом сопроводительной документации.
				.current-product__feedback-contacts
					include ../../common/contacts.pug


			//- .current-product__additional.current-product__additional--additional-current-products
			//- 	include ../../includes/product/additional-products.pug