section.current-product
	.current-product__container
		.current-product__breadcrumbs.container
				.breadcrumbs__container
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a(href="/").breadcrumbs__link Главная
						li.breadcrumbs__item
							a(href="/product.html").breadcrumbs__link Виды деятельности
						li.breadcrumbs__item
							a(href="/products/product-02.html").breadcrumbs__link Проектирование и изготовление опытных образцов
		.current-product__wrapper
			.current-product__title-content.container
				h1.current-product__title.main-title Проектирование и изготовление опытных образцов изделий и прототипов
			.container
				.current-product__slider.js__product-slider.container
					.current-product__slider-wrapper.js__product-slider-list
						.current-product__slider-track.js__product-slider-track
							.current-product__slider-slide.js__product-slide(style="background-image: url('/assets/img/content/hero_01.webp'")
								//- img.current-product__slider-slide-image(src="/assets/img/content/hero_01.webp")
							.current-product__slider-slide.js__product-slide(style="background-image: url('/assets/img/content/hero_01.webp'")
					.current-product__slider-pagination-list.js__product-slider-pagination
					.current-product__slider-arrows.js__product-slider-arrows
						button.prev.disabled.current-product__slider-controls-item.current-product__slider-controls-item--prev
							+icon("arrow-slider-right", "current-product__slider-controls-img")
						.current-product__slider-index.js__slider-index
						button.next.current-product__slider-controls-item.current-product__slider-controls-item--next
							+icon("arrow-slider-right", "current-product__slider-controls-img")
			.current-product__content.container
				p Федеральный центр компетенции промышленности на территории собственного лабораторно-исследовательского комплекса выполняет проектирование и изготовление опытных образцов изделий и прототипов. 
				p На базе Центра и собственного производственного цеха мы можем изготовить опытный образец или аналог любой продукции. В качестве основы для контроля качества производства берется утвержденный технический проект со всеми чертежами, схемами и текстовой информацией.
				p После чего осуществляется сборка опытных образцов изделий, их предварительные и приемочные испытания. По результатам испытаний могут быть внесены изменения в проектную документацию для усовершенствования конечного продукта.
				h3 Мы проводим полный цикл работ, начиная от проектирования и подготовки конструкторской документации по ЕСКД до изготовления готового пробного продукта:
				ul
					li Составление и согласование технического задания на опытный образец
					li Разработка эскизной документации;
					li 3D-моделирование, при необходимости;
					li Печать прототипа на 3D принтере, при необходимости;
					li Изготовление опытного образца изделия;
					li Проведение испытаний и исследований;
					li Доработка при необходимости;
					li Разработка рабочей документации.
			.current-product__feedback.container
				h2.current-product__feedback-title Как подать заявку на разработку опытного образца?
				ul.current-product__feedback-steps
					li.current-product__feedback-step
						.current-product__feedback-step-number 1
						.current-product__feedback-step-text Обратитесь в ФЦКП, связавшись с нами по электронной почте или через онлайн-форму на сайте.
					li.current-product__feedback-step
						.current-product__feedback-step-number 2
						.current-product__feedback-step-text Наши специалисты рассмотрят заявку и свяжутся для обсуждения сотрудничества.
					li.current-product__feedback-step
						.current-product__feedback-step-number 3
						.current-product__feedback-step-text Мы составим более подробное техническое задание или доработаем имеющееся с учетом выясненных требований заказчика.
					li.current-product__feedback-step
						.current-product__feedback-step-number 4
						.current-product__feedback-step-text На основе технического задания будет подготовлено коммерческое предложение и смета с указанием стоимости и сроков проведения всех работ.
					li.current-product__feedback-step
						.current-product__feedback-step-number 5
						.current-product__feedback-step-text После согласования цены и сроков мы подписываем договор и приступаем к разработке конструкторской документации на опытный образец и его выпуску.
					li.current-product__feedback-step
						.current-product__feedback-step-number 6
						.current-product__feedback-step-text В итоге вы получите полный пакет проектных документов, протестированный опытный образец, готовый к дальнейшему серийному производству.
				.current-product__feedback-contacts
					include ../../common/contacts.pug


			//- .current-product__additional.current-product__additional--additional-current-products
			//- 	include ../../includes/product/additional-products.pug