-
	var newsList = [
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		},
		{
			img: "/content/news-post",
			date: "12 сентября 2020",
			title: "Новость заголовок в две строки",
			desc: "Описание новости, можно краткое в две строки"
		}
	]
section.news
	.news__container.container
		.breadcrumbs__container.container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="/").breadcrumbs__link Главная
				li.breadcrumbs__item
					a(href="/news.html").breadcrumbs__link Новости
		.news__wrapper
			h1.news__title.main-title Новости
			.news__tags
				.news__tags-item Тег 1
				.news__tags-item Тег 1
				.news__tags-item Тег 1
				.news__tags-item Тег 1
				.news__tags-item Тег 1
				.news__tags-item Тег 1

			.news__content
				.news__list
					each item in newsList
						a.news__item(href="/news/current-news.html")
							.news__item-wrap
								.news__item-image
									+image(item.img, "jpg", "news__item-img", "")
								.news__item-content
									.news__item-date=item.date
									h3.news__item-title=item.title
									.news__item-desc=item.desc
