
.navigation__list {
  display: flex;
}

.navigation__item {
  margin-left: 30px;
  position: relative;

  &:first-child {
    margin-left: 0;
  }
}

.navigation__item-btn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: $text;
  cursor: pointer;
	
  &::after {
    content: "";
    background: url("/assets/img/icons/arrow-drop-down.svg") no-repeat;
    width: 8px;
    height: 5px;
    margin-left: 5px;
    transition: 0.3s;
  }
	
  &.active {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.navigation__item-sublist {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 0;
  // background-color: $w;
  width: max-content;
  // border: 1px solid #F2F2F5;
	
  &.active {
    transition: max-height 0.3s;
    padding: 20px;
    max-height: 100vh;
    overflow: initial;
  }
}

.navigation__item-subitem-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  // backdrop-filter: blur(50Px);
  border-radius: 15px;
  border: 1px solid #F2F2F5;


  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    left: 20px;
    background: rgba(255, 255, 255, 0.95);
    // backdrop-filter: blur(50Px);
    transform: rotate(45deg);
    border-left: 1px solid #F2F2F5;
    border-top: 1px solid #F2F2F5;
  }
}

.navigation__item-subitem-link {
  font-size: 15px;
  line-height: 30px;
  color: $text-grey;
  transition: 0.3s;
	
  &:hover {
    color: $hl;
  }
}

.navigation__item-subitem {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
  border: none;
}
