.phone__link {
	display: flex;
	color: $text;
}

.phone__icon {
  width: 16px;
  height: 16px;
  stroke: $hl;
  fill: none;
}

.phone__text {
	margin-left: 13px;
  font-weight: 500;
  font-size: 20px;
  // line-height: 20px;
}
