.product {
  background-color: $bg-grey;
  padding-top: 90px;
	
  @include phones {
    padding-bottom: 70px;
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.product__item {
  min-height: 453px;
  width: calc(100% / 3 - 30px);
  border-radius: 15px;
  margin-right: 30px;
  border: 1px solid $border;
  background-color: $w;
  overflow: hidden;
  margin-top: 30px;

	
  @include tablets-hor {
    width: calc(50% - 30Px);
  }

  @include phones {
    width: 100%;
    margin-right: 0;
    height: initial;
  }

}

.product__item-image {
  height: 206Px;
  overflow: hidden;
}

.product__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 20px 30px 30px;
  // min-height: 300px;
  height: calc(100% - 206Px);

  @include tablets-hor {
    padding: 18px;
  }
	
  @include phones {
    min-height: initial;
  }
}

.product__item-desc {
  color: $text-grey;
  line-height: 24px;
  margin-top: 10px;
}

.product__item-cta {
  margin-top: 20px;
}


.product__item-img {
  img {
    min-width: 100%;
  }
}

.product__mobile-cta {
  display: none;

  @include phones {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

.product__mobile {
  @include phones {
    display: none;
  }
}

.product__slider-pagination-item {
  width: 9Px;
  height: 9Px;
  border: 1px solid $pagin-border;
  border-radius: 100%;
  transition: 0.3s;
  margin-right: 10px;
  background-color: #fff;
  cursor: pointer;

  &.active {
    background-color: $pagin-border;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid $hl;
    background-color: $hl;
  }
}