.products {
  background-color: $bg-grey;
  padding-top: 70px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__item {
  min-height: 453px;
  width: calc((100% - 90Px) /4);
  border-radius: 15px;
  border: 1px solid $border;
  background-color: $w;
  overflow: hidden;
  margin-top: 30px;
}

.product__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 20px 30px 30px;
  min-height: 300px;
}

.product__item-desc {
  color: $text-grey;
  line-height: 24px;
  margin-top: 10px;
}