-
	var instrArr = [
		{
			img: "content/instr-01",
			title: "Токарное и фрезерное оборудование",
			desc: "Фрезерные и токараные обрабатывающие центры ФЦКП, таких фирм как Mikron (Швейцария), Roders и Traub (Германия), СЗ (Россия) и др. позволяют обработать детали сложной конфигурации из стали, чугуна, цветных и легких металлов, а также других материалов и производить фрезерные, расточные и сверлильные работы, обеспечивая высокую точность обработки."
		},
		{
			img: "content/instr-02",
			title: "Шлифовальное оборудование",
			desc: "Шлифовальное оборудование Центра позволяет осуществлять обработку прецизионных деталей с параметрами по точности (некруглость 0,2...0,3 мкм) и шероховатости (Ra 0,08...0,04 мкм), соответствующим самым высоким мировым стандартам."
		},
		{
			img: "content/instr-03",
			title: "Гибочное и пробивное оборудование",
			desc: "Листогибы позволяют осуществить сложную пространственную гибку металлического листа длинной до 3000 мм. и толщино до 5 мм. Возможна гибка листа толщиной от 8 до 12мм. длинной до 1300мм. Прессы позволяют пробивать и раскраивать листовой материал глубиной до 25 мм."
		},
		{
			img: "content/instr-04",
			title: "Сверлильное оборудование",
			desc: "Работы по получению отверстий различных диаметров, развертывания, зенкеровки и нарезания внутренней резьбы можно осуществлять на станках токарно- фрезерной группы и сверлильном оборудовании Центра."
		},
		{
			img: "content/instr-05",
			title: "Лазерная и плазменная резка ",
			desc: "Лазерная и плазменная резка листового металла осуществляется на установках GASPARINI Spark 2040 «Навигатор» КС-3В, которые позволяют осуществить фигурную плазменную резку деталей из материалов толщиной от 5 до 60 мм. <br />Также Центр выполняет гравировку на: акриле, бумаге, дереве, камне, кожаных изделиях, многослойном пластике, пластике, стекле, ткани на станке лазерной резки Trotec SP1500."
		},
		{
			img: "content/instr-06",
			title: "Термопластоавтоматы",
			desc: "Термопластавтомат Engel Victory 330/80 Power позволяет производить широкий ассортимент изделий из пластмассы. В процессе производства используется различные пластики: АБС, полистирол, полиамид, полиэтилен разного давления, полипропилен, ПВХ, поликарбонат и т.д. ФЦКП осуществляет услуги проектирования и изготовления пресс-форм для литья пластмассы."
		},
		{
			img: "content/instr-07",
			title: "Сварочное оборудование",
			desc: "Центр оснащен роботизированными комплексами электродуговой и плазменной сварки KUKA, которые позволяют более точно и эффективно выполнять технологический процесс. Также на базе Центра имеются сварочные аппараты для электродуговой сварки материалов."
		},
		{
			img: "content/instr-08",
			title: "Метрологическое оборудование",
			desc: "Измерительная лаборатория Центра оснащена новым высокоавтоматизированным измерительным оборудованием и измерительным инструментом производства фирм – мировых лидеров: «Taylor Gobson» (Англия), «Karl Метрологическое оборудование <br />Zeiss» (Германия), «Mahr Product Group” (Германия), «Mitutoyo Corporation» (Япония), которое обеспечивает полный цикл измерений деталей, в том числе корпусных."
		},
	]
section.instruments
	.instruments__container.container
		.breadcrumbs__container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="/").breadcrumbs__link Главная
				li.breadcrumbs__item
					a(href="/instruments.html").breadcrumbs__link Оборудование
		h1.instruments__title.main-title Наше оборудование
		.instruments__text-content
			p Федеральный центр компетенций промышленности МГТУ «СТАНКИН» (ФЦКП) обладает современным парком высокотехнологичного оборудования для выполнения работ любой сложности.
			p В состав Центра входит более 50 единиц станков для выполнения различных работ:

			ul
				li Механообработка объемнымых заготовок;
				li Изготовление пластмассовых изделий;
				li Обработка листового материала и труб;
				li Сварочные работы;
				li Высокоточная механообработка материалов и деталей любой сложности;
				li Проектирование и изготовление опытных образцов изделий;
				li Метрологические измерение и исследование свойств.

			p Обрабатываемые материалы: сталь, алюминий и его сплавы, бронза, латунь, нержавеющая сталь, различные сплавы черных и цветных металлов, синтетические материалы.
		.instruments__wrap
			ul.instruments__list
				each item in instrArr
					li.instruments__item
							.instruments__item-image(style=`background-image: url('/assets/img/${item.img}.webp'`)
							.instruments__item-info
								.instruments__item-title=item.title
								.instruments__item-desc!=item.desc